* {
    box-sizing: border-box;
  }
  * {
    padding: 0 auto;
    margin: 0 auto;
  }
  body{
    border: 3px solid black;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
     
  }
  #contenedor{
    width: 1200px;
    height: 400px;
    text-align: justify;
  }
#cabecera{
  border: 2px solid black;
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: black;


}
#calculo{
  margin: 0.5em;
  padding: 3px;
    text-align: center;
    display: flex;
    font-size:large;

}
.registrosr{
    text-align: center;
    padding: 3px;
    margin: 0.5em;
}

.registrosr{
text-align: center;


}
#registros{
    text-align: center;
    padding: 2px;
    align-items: center;
    margin: 0.5em;

}
#pie{

    text-align: center;
    padding: 1px;
    display: inline-block;
    background-color: rgb(255, 150, 167);
    width: 100%;
    height: 90px;
    font-size: 20px;
    border: 2px solid black;

}
h2{
  padding-left: 5px;
  text-align: center;
  align-items: center;

}

